body{
    background-color: gray;
}

button {
    width: 250px;
    height: 200px;
    background-color: black;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 26px;
    font-size: 2px;
    margin: 30px;
    transition: 0.1ms;

}
button:hover {
    background-color:white;
    color: black;
    border: 2px solid black

}