body {
    font-family: Arial, sans-serif;
    line-height: 1.9;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

p{
    font-size: 20px;
}
header {
    background-color: #00e9fa;
    color: rgb(228, 253, 0);
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    background-color: rgb(0, 247, 255);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 255, 191, 0.199);
}

section img {
    display: block;
    margin: 10px 0;
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #00d9ff;
    color: rgb(255, 251, 0);
}
