body{
   font-family: arial ,sans-serif;
   background-color: rgb(255, 255, 255);
   margin: 0;
   padding: 0;
   text-align:center;
}
h1{
    color: rgb(0, 0, 0);
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight:bold;
}
input[type="texte"], input[type="email"], input[type="radio"], input[type="password"]{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 10px solid rgb(126, 126, 126);
    border-radius: 50px;
}
input[type="submit"]{
    background-color: rgb(0, 255, 21);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: green;
}