body {
    font-family: 'Nunito' , sans-serif;
    background-color: aqua;
    text-align: center;
    margin: 0px;
    padding: 20px;
}
input{
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
    border: 2px solid;
    border-radius: 5px;
    background-color: black;
    color: blue;
}