body {
    font-family: Arial, sans-serif;
    line-height: 1.9;
    margin: 10px;
    padding: 0;
    background-color: #ff00ff;
}

.b0{
    background-color: rgb(255, 0, 0);
    margin-top: 0px;
    height: 100%;
    width: 100%;

    text-align: center;

}
h1{
    text-align: center;
}


.b2{
    background-color: rgb(250, 255, 0);
text-align: center;
    height: 100%;
    width: 90%;
    
    border-radius: 30px;
    float: left;

}
.b4{
    background-color: rgb(255, 255, 255);
text-align: center;
    height: 100%;
    width: 30%;
    margin: 10px;
    border-radius: 30px;
    float: left;

}

.b5{
    background-color: rgb(0, 252, 34);
text-align: center;
    height: 100%;
    width: 100%;
    
    border-radius: 30px;
    float: left;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: #00d9ff;
    color: rgb(255, 251, 0);
    clear: both;
}
