div{
    background-color: blue;

    height: 200px;
    width: 800px;
    margin: 10px;

}
p
{
    color: red;
}
.c1
{

    background-color: rgb(1, 255, 13);
    height: 200px;
    width: 1000px;
    margin: 10px;
}
.p1
{
    color: rgb(255, 0, 0);
}