body {
    background-color: #9ef5e8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
button {
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
}