   
body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding-left: 33%;
    font-size: 16px;
}



.bloc {    
    clear: both;
    margin: 0; 
    border-radius: 5%;
}

.photo img{
float: right; 
margin-right: 500px;
    border-radius: 5%;
        height: 80%;
    width: 30%;

}

.presentation{
    float: left;
    height: 100%;
    width: 100%;
    margin: 0; 
    border-radius: 5%;
    align-content: center;
    padding: 0%
}

.sous-bloc {
    clear: both;
    margin: 0; 
    border-radius: 5%;
}

.ul1 {
    list-style-type: none;
}

.photo img{
    border-radius: 15%;
}

.titre2 {
    float: left;
    height: 80%;
    margin: 0; 
    border-radius: 5%;
    align-content: center;
    padding: 0%
}

h3 {
    font-style: italic;
    color: #ff6969;
}

